<!DOCTYPE html>

<html>

<head>

<title>Chirp Chat</title>

<link rel='shortcut icon' href='../images/favicon-16.ico' type='image/x-icon'/ >
<!--Import Google Icon Font-->
<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Stalemate" rel="stylesheet">

<!-- Bootstrap -->
<link rel="stylesheet" href="../css/bootstrap.min.css">

<!-- Bootstrap Material Design -->
<link href="../css/bootstrap-material-design.min.css" rel="stylesheet">
<link href="../css/ripples.min.css" rel="stylesheet">

<!-- EmojiOne library for emoji -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/emojione/2.2.6/assets/css/emojione.min.css" />
<link rel="stylesheet" href="../css/emojionearea.min.css">

<!-- Page Style -->
<link type="text/css" rel="stylesheet" href="../css/styles.css" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<div class="error-placeholder"></div>
	<div class="header-panel shadow-z-2">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<h1 style="font-family: 'Stalemate', cursive;">Chirp Chat !</h1>

				</div>
			</div>
		</div>
	</div>


	<div class="container-fluid">

		<div class="page">
			<button type="button"
				class="btn btn-info gp-chat-toggle-btn hidden-sm hidden-md hidden-lg">
				<img src="../images/nav-icon.png" alt="toggle" />
			</button>

			<div class="row">
				<!-- Main chat screen -->
				<div class="col-xs-12 col-sm-8 fill-height">
					<div class=" well well-sm fill-height">
						<div class="chat-message">
							<ul class="chat">

							</ul>
						</div>
					</div>
				</div>
				<!-- Profile and Group Users List -->
				<div class="col-sm-4 fill-height">
					<div class=" well well-sm list-fit-height gp-slider-window">
						<div class="row">
							<div class="my-profile">
								<img class="img-circle" src="../images/unknown_user.png"
									id="profile-img" />
								<h4 class="text-center" id="profile-name">Name</h4>
							</div>
							<div class="col-sm-12 invite-box">
								<button class="btn btn-primary" id="invite" >Invite Friends </button>
							</div>

						</div>
						<div class="row list-fit-height-expanded">

							<div class="list-scroll well">
								<ul class="users">
								</ul>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="chat-box bg-white">
			<div class="row">
				<div class="col-sm-12">
					<div class="typing">
						<ul id="typing-list" class="list-inline">
						</ul>
					</div>
				</div>
			</div>

			<form id="chatform" role="form">
				<div class="input-group">
					<input id="emoji-message-box"> <span
						class="input-group-btn">
						<button class="btn btn-success no-rounded" id="submit"
							type="submit">Send</button>
					</span>
					<!-- /input-group -->
				</div>
			</form>
		</div>

	</div>


	<!-- Chat Components -->
	<!--Registration Modal -->

	<div class="modal fade" id="registrationModal" data-keyboard="false"
		data-backdrop="static" role="dialog">
		<div class="modal-dialog ">
			<div class="row">
				<div class="col-sm-12">
					<!-- Modal content-->
					<div class="modal-content">
					<form id="registrationForm">
						<div class="modal-body">

							<div class="row ">
								<div class="col-xs-4 col-xs-offset-4 ">
									<img class="img-circle" src="../images/unknown_user.png"
										id="avatar-img" />
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 gender-buttons">
									<div class="btn-group" data-toggle="buttons" >
										<label class="btn btn-default"> <input type="radio"
											name="gender" value="male" required/> Male
										</label> <label class="btn btn-default"> <input type="radio"
											name="gender" value="female" /> Female
										</label>
									</div>
								</div>
								<div class="col-sm-12">
									<div class="form-group label-floating">
										<label for="username" class="control-label">Username</label> <input
											type="text" class="form-control" id="username" required pattern=".{4,}" title="User name must contain atleast 4 letters" > <span
											class="help-block">People will see you by this name. </span>
											
									</div>
								</div>

							</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-default" >Save</button>
						</div>
						</form>
					</div>
				</div>
			</div>

		</div>


	</div>

	<div class="modal fade" id="noUsersModal" role="dialog">

		<div class="modal-dialog ">
			<div class="modal-content">
				<div class="no-users">
					<h2>Oops! Looks like It's lonely here</h2>
					<h5>Invite a friend by sending them this URL</h5>
					<div class="room-url"></div>
				</div>
			</div>
		</div>

	</div>

	<div id="sound"></div>

	<script src="../js/jquery.min.js"></script>
	<script
		src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
	<script
		src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
	<script src="//cdn.jsdelivr.net/emojione/2.2.6/lib/js/emojione.min.js"></script>
	<script src="../js/emojionearea.min.js" type="text/javascript"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/material.min.js"></script>
	<script src="../js/ripples.min.js"></script>
	<script src="../js/push.min.js"></script>
	<script src="../js/sjcl.js"></script>
	<script src="../js/script.js"></script>


</body>
</html>