<!DOCTYPE html>

<html>

<head>

	<title>Private chat room | Tutorialzine Demo</title>

	<link type="text/css" rel="stylesheet" href="../css/styles.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">


</head>

<body>


	<div class="chatscreen">

		<ul class="chats">
			<!-- The chat messages will go here -->
		</ul>

	</div>


	<footer>

		<form id="chatform">

			<textarea id="message" placeholder="Write something.."></textarea>
			<input type="submit" id="submit" value="SEND"/>

		</form>

	</footer>

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
	<script src="../js/script.js"></script>

</body>
</html>