<!DOCTYPE html>
<html>
<head>
<title>Chirp Chat</title>
<!-- for-mobile-apps -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Chirp Chat, A node js chat app for desktop and mobiles" />
<!-- //for-mobile-apps -->
<link href="//fonts.googleapis.com/css?family=Stalemate" rel="stylesheet">
<link href="../css/styles.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
	<div class="header-panel">

	</div>
<div class="content">
	<div>
	<div class="pic-image"><img src="../images/favicon.png" alt=" "/></div>
		<h1>Welcome to Chirp Chat</h1>
	</div>
	
		<div class="main">
							
				<form action="/newChat">
				    <input type="submit" value="Lets Chat!" id="create">
				</form>

		</div>
</div>
</body>
</html>
