/*dark background to support form theme*/


body {
  padding-top: 0;
  font-size: 12px;
  color: #777;
  background: #f9f9f9;
  font-family: 'Open Sans',sans-serif;
  margin-top:20px;
  
}

.homeheader {
	text-align: center;
	padding: 30px 0px 60px 0px;
	margin-top: 30px;
}

.homeheader h2 {
	font-family: 'Stalemate', cursive;
	font-size: 70px;
	color: #FFF;
	text-shadow: #000 0px 1px 5px;
	margin: 10px;
}

.header p {
	color: #6E6E6E;
	text-shadow: #000 0px 1px 5px;
	margin-bottom: 30px;
}

.create {
	width: 100%;
}
a#create {
	text-decoration: none;
}

#grouperror {
	display: none;
}

#avatar {
	width: 100px;
	height: 100px;
}

#avatar {
	text-transform : uppercase;
	margin-left: 15px;
	padding: 0px 0px 25px 5px;
	font-size: 80px;
	color: black;
}



.bg-white {
  background-color: #fff;
}

.chat-message {
  padding: 60px 20px 15px 20px;
  background: #f9f9f9;
  margin: 10px 0px 50px 0px;
}

.chat-box {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px;
  border-top: 1px solid #eee;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
}


.chat {
    list-style: none;
    margin: 0;
}

.timestamp{
	padding : 0px 10px 0px 10px;
}


.chat li img {
  width: 45px;
  height: 45px;
  border-radius: 50em;
  -moz-border-radius: 50em;
  -webkit-border-radius: 50em;
}

img {
  max-width: 100%;
}

/* .chat-body {
  padding-bottom: 20px;
} */

.chat li.left .chat-body {
/*   margin-left: 70px;
 */
   background-color: #fff;
}

.chat li .chat-body {
  position: relative;
  font-size: 11px;
  padding: 10px;
  border: 1px solid #f1f5fc;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.chat li .chat-body .header {
  padding-bottom: 5px;
  border-bottom: 1px solid #f1f5fc;
}

.chat li .chat-body p {
  margin: 0;
}

.chat li.left .chat-body:before {
  position: absolute;
  top: 10px;
  left: -8px;
  display: inline-block;
  background: #fff;
  width: 16px;
  height: 16px;
  border-top: 1px solid #f1f5fc;
  border-left: 1px solid #f1f5fc;
  content: '';
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.chat li.right .chat-body:before {
  position: absolute;
  top: 10px;
  right: -8px;
  display: inline-block;
  background: #dcf8c6;
  width: 16px;
  height: 16px;
  border-top: 1px solid #f1f5fc;
  border-right: 1px solid #f1f5fc;
  content: '';
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.chat li {
  margin: 15px 0;
}



.chat li.right .chat-body {
  margin-right: 70px;
  background-color: #dcf8c6;
}


.primary-font {
  color: #3c8dbc;
}

a:hover, a:active, a:focus {
  text-decoration: none;
  outline: 0;
}