/*dark background to support form theme*/
* {
	box-sizing: border-box;
}

body, html {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

.homeheader {
	text-align: center;
	padding: 30px 0px 60px 0px;
	margin-top: 30px;
}

.homeheader h2 {
	font-family: 'Stalemate', cursive;
	font-size: 70px;
	color: #FFF;
	text-shadow: #000 0px 1px 5px;
	margin: 10px;
}

.create {
	width: 100%;
}

a#create {
	text-decoration: none;
}

#grouperror {
	display: none;
}

#username {
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 0 10px;
}
/* Styles for the main chat screen  */

#error-msg {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    overflow: hidden; 
}

.header-panel {
	background-color: #009587;
	height: 144px;
	position: relative;
	z-index: 3;
}

.header-panel div {
	position: relative;
	height: 100%;
}

.header-panel h1 {
	color: #FFF;
	/*font-size: 20px;*/
	/*font-weight: 400;*/
	position: absolute;
	top: 0;
	padding-left: 35px;
}

.page {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 4;
	padding: 0;
	height: 100%;
	overflow: auto;
}

.page>div {
	padding: 70px 0 55px 0;
	margin: 0;
	height: 100%;
}

.fill-height {
	height: 100%;
}

.bg-white {
	background-color: #fff;
}

#submit{
	padding: 8px;
}

.chat-message {
	margin-left: -10px;
	margin-right: -10px;
	padding: 0 15px 0 15px;
	height: 100%;
	overflow-y: scroll;
}

.chat-box {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 5px 0 0 10px;
	border-top: 1px solid #eee;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	width: 100%;
	z-index: 6;
}


.timestamp {
	padding: 0px 10px 0px 10px;
}

img {
	max-width: 100%;
}

.chat {
	list-style: none;
	margin: 0;
}


.chat li {
	margin: 15px 0;
	margin-left: -40px;
}

.chat li img {
	width: 45px;
	height: 45px;
	border-radius: 50em;
	-moz-border-radius: 50em;
	-webkit-border-radius: 50em;
}

.chat li .chat-body {
	position: relative;
	font-size: 11px;
	padding: 10px 10px 0 10px;
	border: 1px solid #f1f5fc;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}



.chat li .chat-body .header {
	padding-bottom: 5px;
	border-bottom: 1px solid #f1f5fc;
}

.chat li .chat-body div.message-text {
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}


/* emoji size  */
img.emojione{
	width: 10px !important;
	height: 10px !important;	
}

.chat li.left .chat-body {
	margin-left: 15px;
	background-color: #fff;
}

.chat li.left .chat-body:before {
	position: absolute;
	top: 10px;
	left: -8px;
	display: inline-block;
	background: #fff;
	width: 16px;
	height: 16px;
	border-top: 1px solid #f1f5fc;
	border-left: 1px solid #f1f5fc;
	content: '';
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
}


.chat li.right .chat-body {
	margin-right: 15px;
	background-color: #dcf8c6;
}

.chat li.right .chat-body:before {
	position: absolute;
	top: 10px;
	right: -8px;
	display: inline-block;
	background: #dcf8c6;
	width: 16px;
	height: 16px;
	border-top: 1px solid #f1f5fc;
	border-right: 1px solid #f1f5fc;
	content: '';
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}


.primary-font {
	color: #3c8dbc;
}

a:hover, a:active, a:focus {
	text-decoration: none;
	outline: 0;
}

.col-centered {
	margin: auto;
	width: 50%;
}

/* Group users section */

.my-profile {
	width: 150px;
	margin: 0 auto;
	padding: 5px;
}

.my-profile>img {
	border: 1px solid #ccc;
}

.list-fit-height {
	display: table;
	height: 100%;
	width: 100%;
}

.list-fit-height-expanded {
	height: 100%;
	display: table-row;
}

.list-scroll {
	overflow-y: auto;
	position: relative;
	height: 100%;
	background-color: wheat;
}

.users {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	min-height: 100px;
	list-style: none;
	margin: 0;
	width: 100%;
}

.users li {
	margin: 5px 10px;
	margin-left: -30px;
	border: 1px solid #f1f5fc;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.users li .chat-img{
		margin: 5px;
}
.users li img {
	width: 45px;
	height: 45px;
	border-radius: 50em;
	-moz-border-radius: 50em;
	-webkit-border-radius: 50em;
}


.users li .user-body {
	position: relative;
	font-size: 12px;
	padding: 10px;
	background-color: #fff;
}



/* group chat for mobile screen */
.gp-chat-toggle-btn {
     padding-right: 15px;
     position:absolute;
     top:0;
     right:0;
     float: right;
     border: none !important;
     background: none !important;
     outline: none !important;
}

/*User Typing box */


.typing > ul {
	margin-bottom: 5px;
}


.typing-item{
	margin-left: 5px;
	border: 1px solid #f1f5fc;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	border-radius: 50em;
	-moz-border-radius: 50em;
	-webkit-border-radius: 50em;
}

.typing-span > div {
	float: right;
	margin-left: 5px;	
	background-color: #eee;
	margin-right:8px;
	padding-left: 3px;
}


.typing-span > img {
	height: 16px;
	
}


.typing-span > div > img {
	padding: 1px;
	height: 24px;
	
}
.typing-span > div > div {
	margin-left: 2px;
}

.typing-span > div > div > b{
	padding-left: 5px;
	padding-right: 5px;
}



/* change the look of scrollbar */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
	border-radius: 6px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* For small screens */
@media only screen and (max-width: 768px) {
	::-webkit-scrollbar {
		display: none;
	}
	
	.gp-slider-window {
		position: absolute;
		left:105%;
		display: none;
	}
	
	
	.list-fit-height{
		width: 80%;
	}
	
	
}

@media only screen and (min-width: 768px) {
		.gp-slider-window {
		position: relative;
		display: table !important;
		left: 0 !important;
		
	}
	
}